# Ignore Home Assistant sensitive files
*.db
*.db-shm
*.db-wal
.homekit/
cloud/
.cloud/
tts/
deps/
__pycache__/
.storage/
*.log
*.log.1
secrets.yaml  # If you're not using encrypted secrets
.vscode/
backups/
